In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("matches_added_averages.csv")

In [3]:
df.head()

,Over,Total_Runs,Bowler_ID,Striker_ID,Venue_ID,Team_ID,Strike_Rate,Runs_on_previous_ball,Avg_Extra_Runs_Last_5,Avg_Extra_Runs_Last_4,Avg_Extra_Runs_Last_3,Avg_Total_Runs_Last_3,Avg_Total_Runs_Last_4,Avg_Total_Runs_Last_5
0,0.1,0,98,82,0,0,1.1,0,0.00,0.00,0.00,0.00,0.00,0.00
1,0.2,4,98,82,0,0,1.1,0,0.00,0.00,0.00,0.00,0.00,0.00
2,0.3,0,98,82,0,0,1.1,4,0.00,0.00,0.00,2.00,2.00,2.00
3,0.4,1,98,82,0,0,1.1,0,0.00,0.00,0.00,1.33,1.33,1.33
4,0.5,0,98,82,0,0,1.1,1,0.25,0.25,0.33,1.67,1.25,1.25

In [8]:
mi_y = df['Total_Runs']         # Replace with your actual target column name
mi_x = df.drop('Total_Runs', axis = 1)  # Drops the target to leave only features

In [9]:
from sklearn.feature_selection import mutual_info_classif

mi_scores = mutual_info_classif(mi_x, mi_y, discrete_features='auto')
mi_df = pd.DataFrame({'Feature': mi_x.columns, 'MI Score': mi_scores})
print(mi_df.sort_values(by='MI Score', ascending=False))

                  Feature  MI Score
5             Strike_Rate  0.108490
0                    Over  0.025448
1               Bowler_ID  0.016812
2              Striker_ID  0.015178
6   Runs_on_previous_ball  0.006819
10  Avg_Total_Runs_Last_3  0.005895
12  Avg_Total_Runs_Last_5  0.004931
4                 Team_ID  0.003327
7   Avg_Extra_Runs_Last_5  0.002849
3                Venue_ID  0.000505
8   Avg_Extra_Runs_Last_4  0.000000
9   Avg_Extra_Runs_Last_3  0.000000
11  Avg_Total_Runs_Last_4  0.000000

In [6]:
df = df.drop(columns = ['Unnamed: 0'])

In [10]:
from statsmodels.stats.outliers_influence import variance_inflation_factor
from statsmodels.tools.tools import add_constant

In [11]:
from statsmodels.stats.outliers_influence import variance_inflation_factor
from statsmodels.tools.tools import add_constant

vif_x = list(df.columns)

vif_x.remove('Total_Runs')

dfx = df[vif_x]

x_const = add_constant(dfx)
vif_data = pd.DataFrame()
vif_data["Feature"] = dfx.columns
vif_data["VIF"] = [variance_inflation_factor(x_const.values, i + 1) for i in range(len(dfx.columns))]  # +1 because of constant at index 0

print(vif_data.sort_values(by="VIF", ascending=False))

                  Feature       VIF
11  Avg_Total_Runs_Last_4  9.590693
8   Avg_Extra_Runs_Last_4  8.537630
12  Avg_Total_Runs_Last_5  5.921412
7   Avg_Extra_Runs_Last_5  5.338088
10  Avg_Total_Runs_Last_3  5.183364
9   Avg_Extra_Runs_Last_3  4.198605
6   Runs_on_previous_ball  1.616653
5             Strike_Rate  1.177505
0                    Over  1.013050
2              Striker_ID  1.008785
1               Bowler_ID  1.007747
3                Venue_ID  1.007290
4                 Team_ID  1.004736

In [13]:
# Select features for VIF analysis
vif_features = df.columns.tolist()

df_vif = df[vif_features].copy()

# Add constant for VIF calculation
x_const = add_constant(df_vif)

# Calculate VIF
vif_data = pd.DataFrame()
vif_data["Feature"] = df_vif.columns
vif_data["VIF"] = [variance_inflation_factor(x_const.values, i + 1) for i in range(len(df_vif.columns))]  # +1 because constant is at index 0

# Sort and display
print(vif_data.sort_values(by="VIF", ascending=False))

                  Feature       VIF
12  Avg_Total_Runs_Last_4  9.590714
9   Avg_Extra_Runs_Last_4  8.537632
13  Avg_Total_Runs_Last_5  5.921518
8   Avg_Extra_Runs_Last_5  5.338225
11  Avg_Total_Runs_Last_3  5.184565
10  Avg_Extra_Runs_Last_3  4.199316
7   Runs_on_previous_ball  1.623479
6             Strike_Rate  1.424970
1              Total_Runs  1.221157
0                    Over  1.014751
3              Striker_ID  1.008810
2               Bowler_ID  1.007764
4                Venue_ID  1.007291
5                 Team_ID  1.004752

In [16]:
df

,Over,Extra_Runs,Total_Runs,Bowler_ID,Striker_ID,Venue_ID,Team_ID,Rolling_Avg_Runs,Strike_Rate
0,0.1,0,0,98,82,0,0,0.000000,1.100000
1,0.2,0,4,98,82,0,0,2.000000,1.100000
2,0.3,0,0,98,82,0,0,1.333333,1.100000
3,0.4,1,1,98,82,0,0,1.000000,1.100000
4,0.5,0,0,98,82,0,0,1.000000,1.100000
...,...,...,...,...,...,...,...,...,...
34961,18.5,0,4,159,123,1,9,3.250000,3.333333
34962,18.6,0,0,159,123,1,9,2.750000,3.333333
34963,19.1,1,1,197,155,1,9,0.250000,1.666667
34964,19.2,0,6,197,155,1,9,1.750000,1.666667
34965,19.3,0,4,197,155,1,9,2.750000,1.666667

In [17]:
# Initialize column with zeros
df['Runs_on_previous_ball'] = 0

# Loop through from the second row onward
for i in range(1, len(df)):
    if df.loc[i, 'Over'] == 0.0:
        df.loc[i, 'Runs_on_previous_ball'] = 0  # New match/innings
    else:
        df.loc[i, 'Runs_on_previous_ball'] = df.loc[i - 1, 'Total_Runs']  # Previous ball's runs

# Optional: convert to integer
df['Runs_on_previous_ball'] = df['Runs_on_previous_ball'].astype(int)

In [18]:
df.head()

,Over,Extra_Runs,Total_Runs,Bowler_ID,Striker_ID,Venue_ID,Team_ID,Rolling_Avg_Runs,Strike_Rate,Runs_on_previous_ball
0,0.1,0,0,98,82,0,0,0.000000,1.1,0
1,0.2,0,4,98,82,0,0,2.000000,1.1,0
2,0.3,0,0,98,82,0,0,1.333333,1.1,4
3,0.4,1,1,98,82,0,0,1.000000,1.1,0
4,0.5,0,0,98,82,0,0,1.000000,1.1,1

In [25]:
# A list for storing elements
extra_buffer = []

for i in range(len(df)):
    if df.loc[i, 'Over'] == 0.0:
        extra_buffer = []
        df.loc[i, 'Avg_Extra_Runs_Last_3'] = 0.0
    else:
        if len(extra_buffer) > 0:
            avg = sum(extra_buffer) / len(extra_buffer)
        else:
            avg = 0.0
        df.loc[i, 'Avg_Extra_Runs_Last_3'] = avg

    extra_buffer.append(df.loc[i, 'Extra_Runs'])

    # Keep only last 3
    if len(extra_buffer) > 3:
        extra_buffer.pop(0)

In [26]:
df

,Over,Extra_Runs,Total_Runs,Bowler_ID,Striker_ID,Venue_ID,Team_ID,Rolling_Avg_Runs,Strike_Rate,Runs_on_previous_ball,Avg_Extra_Runs_Last_5,Avg_Extra_Runs_Last_4,Avg_Extra_Runs_Last_3
0,0.1,0,0,98,82,0,0,0.000000,1.100000,0,0.00,0.00,0.000000
1,0.2,0,4,98,82,0,0,2.000000,1.100000,0,0.00,0.00,0.000000
2,0.3,0,0,98,82,0,0,1.333333,1.100000,4,0.00,0.00,0.000000
3,0.4,1,1,98,82,0,0,1.000000,1.100000,0,0.00,0.00,0.000000
4,0.5,0,0,98,82,0,0,1.000000,1.100000,1,0.25,0.25,0.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...
34961,18.5,0,4,159,123,1,9,3.250000,3.333333,6,0.80,1.00,1.333333
34962,18.6,0,0,159,123,1,9,2.750000,3.333333,4,0.80,1.00,0.000000
34963,19.1,1,1,197,155,1,9,0.250000,1.666667,0,0.80,0.00,0.000000
34964,19.2,0,6,197,155,1,9,1.750000,1.666667,1,0.20,0.25,0.333333
34965,19.3,0,4,197,155,1,9,2.750000,1.666667,6,0.20,0.25,0.333333

In [27]:
df['Avg_Extra_Runs_Last_5'] = df['Avg_Extra_Runs_Last_5'].round(2)
df['Avg_Extra_Runs_Last_4'] = df['Avg_Extra_Runs_Last_4'].round(2)
df['Avg_Extra_Runs_Last_3'] = df['Avg_Extra_Runs_Last_3'].round(2)

In [28]:
df

,Over,Extra_Runs,Total_Runs,Bowler_ID,Striker_ID,Venue_ID,Team_ID,Rolling_Avg_Runs,Strike_Rate,Runs_on_previous_ball,Avg_Extra_Runs_Last_5,Avg_Extra_Runs_Last_4,Avg_Extra_Runs_Last_3
0,0.1,0,0,98,82,0,0,0.000000,1.100000,0,0.00,0.00,0.00
1,0.2,0,4,98,82,0,0,2.000000,1.100000,0,0.00,0.00,0.00
2,0.3,0,0,98,82,0,0,1.333333,1.100000,4,0.00,0.00,0.00
3,0.4,1,1,98,82,0,0,1.000000,1.100000,0,0.00,0.00,0.00
4,0.5,0,0,98,82,0,0,1.000000,1.100000,1,0.25,0.25,0.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...
34961,18.5,0,4,159,123,1,9,3.250000,3.333333,6,0.80,1.00,1.33
34962,18.6,0,0,159,123,1,9,2.750000,3.333333,4,0.80,1.00,0.00
34963,19.1,1,1,197,155,1,9,0.250000,1.666667,0,0.80,0.00,0.00
34964,19.2,0,6,197,155,1,9,1.750000,1.666667,1,0.20,0.25,0.33
34965,19.3,0,4,197,155,1,9,2.750000,1.666667,6,0.20,0.25,0.33

In [31]:
# A list for storing elements
runs_buffer = []

for i in range(len(df)):
    if df.loc[i, 'Over'] == 0.0:
        runs_buffer = []
        df.loc[i, 'Avg_Total_Runs_Last_5'] = 0.0
    else:
        if len(runs_buffer) > 0:
            avg = sum(runs_buffer) / len(runs_buffer)
        else:
            avg = 0.0
        df.loc[i, 'Avg_Total_Runs_Last_5'] = avg

    runs_buffer.append(df.loc[i, 'Total_Runs'])

    # Keep only last 3
    if len(runs_buffer) > 5:
        runs_buffer.pop(0)

In [32]:
df['Avg_Total_Runs_Last_5'] = df['Avg_Total_Runs_Last_5'].round(2)
df['Avg_Total_Runs_Last_4'] = df['Avg_Total_Runs_Last_4'].round(2)
df['Avg_Total_Runs_Last_3'] = df['Avg_Total_Runs_Last_3'].round(2)

In [15]:
df.drop(columns = ['Avg_Total_Runs_Last_4','Avg_Extra_Runs_Last_4','Avg_Total_Runs_Last_5', 'Avg_Extra_Runs_Last_5','Avg_Total_Runs_Last_3'], inplace = True)

In [16]:
df

,Over,Total_Runs,Bowler_ID,Striker_ID,Venue_ID,Team_ID,Strike_Rate,Runs_on_previous_ball,Avg_Extra_Runs_Last_3
0,0.1,0,98,82,0,0,1.100000,0,0.00
1,0.2,4,98,82,0,0,1.100000,0,0.00
2,0.3,0,98,82,0,0,1.100000,4,0.00
3,0.4,1,98,82,0,0,1.100000,0,0.00
4,0.5,0,98,82,0,0,1.100000,1,0.33
...,...,...,...,...,...,...,...,...,...
34961,18.5,4,159,123,1,9,3.333333,6,1.33
34962,18.6,0,159,123,1,9,3.333333,4,0.00
34963,19.1,1,197,155,1,9,1.666667,0,0.00
34964,19.2,6,197,155,1,9,1.666667,1,0.33
34965,19.3,4,197,155,1,9,1.666667,6,0.33

In [34]:
df.drop("Rolling_Avg_Runs", axis=1, inplace=True)

In [35]:
df

,Over,Extra_Runs,Total_Runs,Bowler_ID,Striker_ID,Venue_ID,Team_ID,Strike_Rate,Runs_on_previous_ball,Avg_Extra_Runs_Last_5,Avg_Extra_Runs_Last_4,Avg_Extra_Runs_Last_3,Avg_Total_Runs_Last_3,Avg_Total_Runs_Last_4,Avg_Total_Runs_Last_5
0,0.1,0,0,98,82,0,0,1.100000,0,0.00,0.00,0.00,0.00,0.00,0.00
1,0.2,0,4,98,82,0,0,1.100000,0,0.00,0.00,0.00,0.00,0.00,0.00
2,0.3,0,0,98,82,0,0,1.100000,4,0.00,0.00,0.00,2.00,2.00,2.00
3,0.4,1,1,98,82,0,0,1.100000,0,0.00,0.00,0.00,1.33,1.33,1.33
4,0.5,0,0,98,82,0,0,1.100000,1,0.25,0.25,0.33,1.67,1.25,1.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34961,18.5,0,4,159,123,1,9,3.333333,6,0.80,1.00,1.33,3.67,2.75,2.20
34962,18.6,0,0,159,123,1,9,3.333333,4,0.80,1.00,0.00,3.67,3.75,3.00
34963,19.1,1,1,197,155,1,9,1.666667,0,0.80,0.00,0.00,3.33,2.75,3.00
34964,19.2,0,6,197,155,1,9,1.666667,1,0.20,0.25,0.33,1.67,2.75,2.40
34965,19.3,0,4,197,155,1,9,1.666667,6,0.20,0.25,0.33,2.33,2.75,3.40

In [36]:
df.drop("Extra_Runs", axis=1, inplace=True)

In [22]:
df

,Over,Total_Runs,Bowler_ID,Striker_ID,Venue_ID,Team_ID,Strike_Rate,Runs_on_previous_ball,Avg_Extra_Runs_Last_3
0,0.1,0,98,82,0,0,1.100000,0,0.00
1,0.2,4,98,82,0,0,1.100000,0,0.00
2,0.3,0,98,82,0,0,1.100000,4,0.00
3,0.4,1,98,82,0,0,1.100000,0,0.00
4,0.5,0,98,82,0,0,1.100000,1,0.33
...,...,...,...,...,...,...,...,...,...
34961,18.5,4,159,123,1,9,3.333333,6,1.33
34962,18.6,0,159,123,1,9,3.333333,4,0.00
34963,19.1,1,197,155,1,9,1.666667,0,0.00
34964,19.2,6,197,155,1,9,1.666667,1,0.33
34965,19.3,4,197,155,1,9,1.666667,6,0.33

In [19]:
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier
from lightgbm import LGBMClassifier
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.neural_network import MLPClassifier

In [20]:
from sklearn.ensemble import RandomForestClassifier
#from xgboost import XGBClassifier
from lightgbm import LGBMClassifier
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.neural_network import MLPClassifier

models = {
    "RandomForest": RandomForestClassifier(n_estimators=100, random_state=42),
    #"XGBoost": XGBClassifier(use_label_encoder=False, eval_metric='mlogloss', random_state=42),
    "LightGBM": LGBMClassifier(random_state=42),
    "SVM": SVC(kernel='rbf', probability=True, random_state=42),
    "KNN": KNeighborsClassifier(n_neighbors=5),
    "MLP": MLPClassifier(hidden_layer_sizes=(100,), max_iter=500, random_state=42)
}

In [28]:
from sklearn.model_selection import train_test_split

X_train, X_test,y_train, y_test = train_test_split(
    df_new.drop(columns = ['Total_Runs']),
    df_new['Total_Runs'],
    test_size=0.10,
    random_state=42,
    stratify=df['Total_Runs']
)

ValueError: Found input variables with inconsistent numbers of samples: [34776, 34966]

In [16]:
from sklearn.model_selection import train_test_split

X_train, X_test,y_train, y_test = train_test_split(
    df.drop(columns = ['Total_Runs']),
    df['Total_Runs'],
    test_size=0.10,
    random_state=42,
    stratify=df['Total_Runs']
)

def fit_and_score(models, x_train, x_test, y_train, y_test):
    """"
    This function fits and evaluates the models
    models : dictionary of models
    x_train : training data (no labels)
    x_test : testing data (no labels)
    y_train : trainign data (labels)
    y_test : testing data (labels)
    """
    # random seed
    np.random.seed(42)
    # Make score dictionary
    model_scores = {}
    # Loop through models
    for name, model in models.items():
        # Fit the model
        model.fit(x_train, y_train)
        # Append the scores in dictionary
        model_scores[name] = model.score(x_test,y_test)
    return model_scores

# Get scores
model_scores = fit_and_score(models = models,
                             x_train = X_train,
                             x_test = X_test,
                             y_train = y_train,
                             y_test = y_test)

model_scores

[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.001671 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 2917
[LightGBM] [Info] Number of data points in the train set: 31469, number of used features: 27
[LightGBM] [Info] Start training from score -1.139840
[LightGBM] [Info] Start training from score -0.874789
[LightGBM] [Info] Start training from score -2.739982
[LightGBM] [Info] Start training from score -6.012953
[LightGBM] [Info] Start training from score -2.074275
[LightGBM] [Info] Start training from score -6.080092
[LightGBM] [Info] Start training from score -2.695231
[LightGBM] [Info] Start training from score -7.265716
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf

{'RandomForest': 0.9316557048899057,
 'LightGBM': 0.959679725478982,
 'SVM': 0.41692879611095224,
 'KNN': 0.39948527309122106,
 'MLP': 0.8475836431226765}

In [35]:
# Get scores
model_scores = fit_and_score(models = models,
                             x_train = X_train,
                             x_test = X_test,
                             y_train = y_train,
                             y_test = y_test)

model_scores

C:\Users\01abh\PycharmProjects\IPL_Prediction\.venv\Lib\site-packages\xgboost\training.py:183: UserWarning: [10:42:48] WARNING: C:\actions-runner\_work\xgboost\xgboost\src\learner.cc:738:
Parameters: { "use_label_encoder" } are not used.

  bst.update(dtrain, iteration=i, fobj=obj)

[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.001382 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 903
[LightGBM] [Info] Number of data points in the train set: 31298, number of used features: 11
[LightGBM] [Info] Start training from score -1.134391
[LightGBM] [Info] Start training from score -0.869340
[LightGBM] [Info] Start training from score -2.734534
[LightGBM] [Info] Start training from score -2.068826
[LightGBM] [Info] Start training from score -2.689782

{'RandomForest': 0.4355951696377228,
 'XGBoost': 0.46520989074180563,
 'LightGBM': 0.4775733179988499,
 'SVM': 0.41920644048303624,
 'KNN': 0.3783783783783784,
 'MLP': 0.43962047153536515}

In [8]:
df.to_csv("matches_added_averages.csv", index = False)

In [1]:
import pandas as pd

In [9]:
df = pd.read_csv('matches_added_averages.csv')

In [10]:
df.head()

,Over,Total_Runs,Bowler_ID,Striker_ID,Venue_ID,Team_ID,Strike_Rate,Runs_on_previous_ball,Avg_Extra_Runs_Last_5,Avg_Extra_Runs_Last_4,Avg_Extra_Runs_Last_3,Avg_Total_Runs_Last_3,Avg_Total_Runs_Last_4,Avg_Total_Runs_Last_5
0,0.1,0,98,82,0,0,1.1,0,0.00,0.00,0.00,0.00,0.00,0.00
1,0.2,4,98,82,0,0,1.1,0,0.00,0.00,0.00,0.00,0.00,0.00
2,0.3,0,98,82,0,0,1.1,4,0.00,0.00,0.00,2.00,2.00,2.00
3,0.4,1,98,82,0,0,1.1,0,0.00,0.00,0.00,1.33,1.33,1.33
4,0.5,0,98,82,0,0,1.1,1,0.25,0.25,0.33,1.67,1.25,1.25

In [11]:
df.columns

Index(['Over', 'Total_Runs', 'Bowler_ID', 'Striker_ID', 'Venue_ID', 'Team_ID',
       'Strike_Rate', 'Runs_on_previous_ball', 'Avg_Extra_Runs_Last_5',
       'Avg_Extra_Runs_Last_4', 'Avg_Extra_Runs_Last_3',
       'Avg_Total_Runs_Last_3', 'Avg_Total_Runs_Last_4',
       'Avg_Total_Runs_Last_5'],
      dtype='object')

In [7]:
df.drop(columns = ['Unnamed: 0'], inplace = True)

In [13]:
df.drop(columns = ['Avg_Extra_Runs_Last_4', 'Avg_Total_Runs_Last_4'], inplace = True)

In [14]:
df

,Over,Total_Runs,Bowler_ID,Striker_ID,Venue_ID,Team_ID,Strike_Rate,Runs_on_previous_ball,Avg_Extra_Runs_Last_5,Avg_Extra_Runs_Last_3,Avg_Total_Runs_Last_3,Avg_Total_Runs_Last_5
0,0.1,0,98,82,0,0,1.100000,0,0.00,0.00,0.00,0.00
1,0.2,4,98,82,0,0,1.100000,0,0.00,0.00,0.00,0.00
2,0.3,0,98,82,0,0,1.100000,4,0.00,0.00,2.00,2.00
3,0.4,1,98,82,0,0,1.100000,0,0.00,0.00,1.33,1.33
4,0.5,0,98,82,0,0,1.100000,1,0.25,0.33,1.67,1.25
...,...,...,...,...,...,...,...,...,...,...,...,...
34961,18.5,4,159,123,1,9,3.333333,6,0.80,1.33,3.67,2.20
34962,18.6,0,159,123,1,9,3.333333,4,0.80,0.00,3.67,3.00
34963,19.1,1,197,155,1,9,1.666667,0,0.80,0.00,3.33,3.00
34964,19.2,6,197,155,1,9,1.666667,1,0.20,0.33,1.67,2.40
34965,19.3,4,197,155,1,9,1.666667,6,0.20,0.33,2.33,3.40

In [15]:
df_new = pd.DataFrame()

In [26]:
df_new = df[~df['Total_Runs'].isin([3, 5, 7])].copy()

In [27]:
df_new

,Over,Total_Runs,Bowler_ID,Striker_ID,Venue_ID,Team_ID,Strike_Rate,Runs_on_previous_ball,Avg_Extra_Runs_Last_5,Avg_Extra_Runs_Last_3,Avg_Total_Runs_Last_3,Avg_Total_Runs_Last_5
0,0.1,0,98,82,0,0,1.100000,0,0.00,0.00,0.00,0.00
1,0.2,4,98,82,0,0,1.100000,0,0.00,0.00,0.00,0.00
2,0.3,0,98,82,0,0,1.100000,4,0.00,0.00,2.00,2.00
3,0.4,1,98,82,0,0,1.100000,0,0.00,0.00,1.33,1.33
4,0.5,0,98,82,0,0,1.100000,1,0.25,0.33,1.67,1.25
...,...,...,...,...,...,...,...,...,...,...,...,...
34961,18.5,4,159,123,1,9,3.333333,6,0.80,1.33,3.67,2.20
34962,18.6,0,159,123,1,9,3.333333,4,0.80,0.00,3.67,3.00
34963,19.1,1,197,155,1,9,1.666667,0,0.80,0.00,3.33,3.00
34964,19.2,6,197,155,1,9,1.666667,1,0.20,0.33,1.67,2.40
34965,19.3,4,197,155,1,9,1.666667,6,0.20,0.33,2.33,3.40

In [34]:
from sklearn.model_selection import train_test_split

# Ensure there are no mismatched rows in df_new
df_new = df_new.dropna(subset=['Total_Runs'])  # Drop rows where 'Total_Runs' is NaN

# Verify column consistency
X = df_new.drop(columns=['Total_Runs', 'To_predict'])
y = df_new['To_predict']

# Ensure X and y have the same length
assert len(X) == len(y), "Mismatch in number of samples between X and y"

# Perform the split using the consistent DataFrame
X_train, X_test, y_train, y_test = train_test_split(
    X,
    y,
    test_size=0.10,
    random_state=42,
    stratify=y
)

In [32]:
df_new['To_predict'] = df_new['Total_Runs'].map({ 0 : 0, 1 : 1, 2 : 2, 4 : 3, 6 :4})

In [33]:
df_new

,Over,Total_Runs,Bowler_ID,Striker_ID,Venue_ID,Team_ID,Strike_Rate,Runs_on_previous_ball,Avg_Extra_Runs_Last_5,Avg_Extra_Runs_Last_3,Avg_Total_Runs_Last_3,Avg_Total_Runs_Last_5,To_predict
0,0.1,0,98,82,0,0,1.100000,0,0.00,0.00,0.00,0.00,0
1,0.2,4,98,82,0,0,1.100000,0,0.00,0.00,0.00,0.00,3
2,0.3,0,98,82,0,0,1.100000,4,0.00,0.00,2.00,2.00,0
3,0.4,1,98,82,0,0,1.100000,0,0.00,0.00,1.33,1.33,1
4,0.5,0,98,82,0,0,1.100000,1,0.25,0.33,1.67,1.25,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
34961,18.5,4,159,123,1,9,3.333333,6,0.80,1.33,3.67,2.20,3
34962,18.6,0,159,123,1,9,3.333333,4,0.80,0.00,3.67,3.00,0
34963,19.1,1,197,155,1,9,1.666667,0,0.80,0.00,3.33,3.00,1
34964,19.2,6,197,155,1,9,1.666667,1,0.20,0.33,1.67,2.40,4
34965,19.3,4,197,155,1,9,1.666667,6,0.20,0.33,2.33,3.40,3

In [4]:
df

,Over,Total_Runs,Bowler_ID,Striker_ID,Venue_ID,Team_ID,Strike_Rate,Runs_on_previous_ball,Avg_Extra_Runs_Last_5,Avg_Extra_Runs_Last_4,Avg_Extra_Runs_Last_3,Avg_Total_Runs_Last_3,Avg_Total_Runs_Last_4,Avg_Total_Runs_Last_5
0,0.1,0,98,82,0,0,1.100000,0,0.00,0.00,0.00,0.00,0.00,0.00
1,0.2,4,98,82,0,0,1.100000,0,0.00,0.00,0.00,0.00,0.00,0.00
2,0.3,0,98,82,0,0,1.100000,4,0.00,0.00,0.00,2.00,2.00,2.00
3,0.4,1,98,82,0,0,1.100000,0,0.00,0.00,0.00,1.33,1.33,1.33
4,0.5,0,98,82,0,0,1.100000,1,0.25,0.25,0.33,1.67,1.25,1.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34961,18.5,4,159,123,1,9,3.333333,6,0.80,1.00,1.33,3.67,2.75,2.20
34962,18.6,0,159,123,1,9,3.333333,4,0.80,1.00,0.00,3.67,3.75,3.00
34963,19.1,1,197,155,1,9,1.666667,0,0.80,0.00,0.00,3.33,2.75,3.00
34964,19.2,6,197,155,1,9,1.666667,1,0.20,0.25,0.33,1.67,2.75,2.40
34965,19.3,4,197,155,1,9,1.666667,6,0.20,0.25,0.33,2.33,2.75,3.40

In [7]:
import pandas as pd
import numpy as np

# Load data
df = pd.read_csv("matches_added_averages.csv")

# --- Add Match_ID ---
match_id = 0
match_ids = []
for _, row in df.iterrows():
    if row['Over'] == 0.0:
        match_id += 1
    match_ids.append(match_id)

df['Match_ID'] = match_ids

# Step 1: Categorize over phase
def categorize_over(over):
    over_num = int(str(over).split('.')[0])
    if over_num < 6:
        return 1  # Powerplay
    elif over_num < 16:
        return 2  # Middle
    else:
        return 3  # Death

df['Over_Phase'] = df['Over'].apply(categorize_over)

# Step 2: Cumulative team runs before the ball
df['Cumulative_Runs'] = df.groupby(['Match_ID', 'Team_ID'])['Total_Runs'].cumsum().shift(fill_value=0)

# Step 3 & 4: Wicket loss + cumulative wickets + partnership runs
df['Is_Wicket'] = (df['Total_Runs'] == 0).astype(int)  # Proxy for wicket
df['Cumulative_Wickets'] = df.groupby(['Match_ID', 'Team_ID'])['Is_Wicket'].cumsum()

df['Partnership_Runs'] = 0
last_wicket_indices = {}

for idx, row in df.iterrows():
    key = (row['Match_ID'], row['Team_ID'])
    if key not in last_wicket_indices:
        last_wicket_indices[key] = -1
    if row['Is_Wicket'] == 1:
        last_wicket_indices[key] = idx
    start = last_wicket_indices[key] + 1
    df.at[idx, 'Partnership_Runs'] = df.loc[start:idx, 'Total_Runs'].sum()

df['Partnership_Runs'] = df['Partnership_Runs'].astype(int)

# Step 5: Pressure Index (PI)
INITIAL_RR = 10
WICKET_WEIGHT = 25
TOTAL_BALLS = 120
BENCHMARK_TARGET = 190  # midpoint of 180-200

# Detect innings using match-wise logic
df['Innings'] = df.groupby('Match_ID')['Team_ID'].transform(lambda x: (x != x.shift()).cumsum())

# Compute target scores
target_map = df[df['Innings'] == 1].groupby('Match_ID')['Total_Runs'].sum() + 1
df['Target'] = df['Match_ID'].map(target_map).where(df['Innings'] == 2, BENCHMARK_TARGET)

# Ball tracking
df['Ball_Count'] = df.groupby(['Match_ID', 'Team_ID']).cumcount() + 1
df['Balls_Left'] = TOTAL_BALLS - df['Ball_Count']

# Current and required RR
df['Current_RR'] = df['Cumulative_Runs'] / (df['Ball_Count'] / 6)
df['Req_RR'] = np.where(
    df['Innings'] == 2,
    (df['Target'] - df['Cumulative_Runs']) / (df['Balls_Left'] / 6),
    BENCHMARK_TARGET / 20
)

# Pressure Index formula
df['PI'] = (
    (df['Req_RR'] / INITIAL_RR) * 100 +
    ((WICKET_WEIGHT * df['Cumulative_Wickets']) / (180 * df['Target'])) *
    (df['Balls_Left'] / TOTAL_BALLS) *
    ((df['Target'] - df['Cumulative_Runs']) / df['Target'])
)

# Step 6: Dynamic Pitch Change - rolling RR over 12 balls
df['Rolling_Runs'] = df.groupby(['Match_ID', 'Team_ID'])['Total_Runs'].rolling(window=12, min_periods=1).mean().reset_index(level=[0,1], drop=True) * 6
df['Previous_Rolling_Runs'] = df['Rolling_Runs'].shift().fillna(method='bfill')
df['Pitch_Change'] = df['Rolling_Runs'] - df['Previous_Rolling_Runs']

# Optional: Save enhanced data
df.to_csv("matches_enhanced_with_features.csv", index=False)

C:\Users\01abh\AppData\Local\Temp\ipykernel_30976\1049156982.py:85: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['Previous_Rolling_Runs'] = df['Rolling_Runs'].shift().fillna(method='bfill')

In [8]:
df

,Over,Total_Runs,Bowler_ID,Striker_ID,Venue_ID,Team_ID,Strike_Rate,Runs_on_previous_ball,Avg_Extra_Runs_Last_5,Avg_Extra_Runs_Last_4,...,Innings,Target,Ball_Count,Balls_Left,Current_RR,Req_RR,PI,Rolling_Runs,Previous_Rolling_Runs,Pitch_Change
0,0.1,0,98,82,0,0,1.100000,0,0.00,0.00,...,1,190,1,119,0.000000,9.5,95.000725,0.0,0.0,0.0
1,0.2,4,98,82,0,0,1.100000,0,0.00,0.00,...,1,190,2,118,0.000000,9.5,95.000719,12.0,0.0,12.0
2,0.3,0,98,82,0,0,1.100000,4,0.00,0.00,...,1,190,3,117,8.000000,9.5,95.001395,8.0,12.0,-4.0
3,0.4,1,98,82,0,0,1.100000,0,0.00,0.00,...,1,190,4,116,6.000000,9.5,95.001384,7.5,8.0,-0.5
4,0.5,0,98,82,0,0,1.100000,1,0.25,0.25,...,1,190,5,115,6.000000,9.5,95.002046,6.0,7.5,-1.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34961,18.5,4,159,123,1,9,3.333333,6,0.80,1.00,...,287,190,3519,-3399,8.659847,9.5,648.561408,11.5,9.5,2.0
34962,18.6,0,159,123,1,9,3.333333,4,0.80,1.00,...,287,190,3520,-3400,8.664205,9.5,649.710680,11.0,11.5,-0.5
34963,19.1,1,197,155,1,9,1.666667,0,0.80,0.00,...,287,190,3521,-3401,8.661744,9.5,649.873830,11.5,11.0,0.5
34964,19.2,6,197,155,1,9,1.666667,1,0.20,0.25,...,287,190,3522,-3402,8.660988,9.5,650.150416,14.5,11.5,3.0
34965,19.3,4,197,155,1,9,1.666667,6,0.20,0.25,...,287,190,3523,-3403,8.668748,9.5,650.994409,16.0,14.5,1.5

In [13]:
from sklearn.feature_selection import mutual_info_classif

mi_x = df.drop("Total_Runs", axis = 1)
mi_y = df.Total_Runs

mi_scores = mutual_info_classif(mi_x, mi_y, discrete_features='auto')
mi_df = pd.DataFrame({'Feature': mi_x.columns, 'MI Score': mi_scores})
print(mi_df.sort_values(by='MI Score', ascending=False))

                  Feature  MI Score
17       Partnership_Runs  0.797944
27           Pitch_Change  0.748624
15              Is_Wicket  0.626934
5             Strike_Rate  0.105749
25           Rolling_Runs  0.051410
0                    Over  0.022738
14             Over_Phase  0.022358
2              Striker_ID  0.016863
18                Innings  0.013068
1               Bowler_ID  0.009680
16     Cumulative_Wickets  0.009598
6   Runs_on_previous_ball  0.006684
26  Previous_Rolling_Runs  0.002913
12  Avg_Total_Runs_Last_5  0.002560
10  Avg_Total_Runs_Last_3  0.001732
9   Avg_Extra_Runs_Last_3  0.001616
20             Ball_Count  0.001446
8   Avg_Extra_Runs_Last_4  0.001264
23                 Req_RR  0.000872
22             Current_RR  0.000698
11  Avg_Total_Runs_Last_4  0.000000
7   Avg_Extra_Runs_Last_5  0.000000
4                 Team_ID  0.000000
3                Venue_ID  0.000000
19                 Target  0.000000
13               Match_ID  0.000000
21             Balls_Left  0.000000
24                     PI  0.000000

In [14]:
from statsmodels.stats.outliers_influence import variance_inflation_factor
from statsmodels.tools.tools import add_constant

vif_x = list(df.columns)

vif_x.remove('Total_Runs')

dfx = df[vif_x]

x_const = add_constant(dfx)
vif_data = pd.DataFrame()
vif_data["Feature"] = dfx.columns
vif_data["VIF"] = [variance_inflation_factor(x_const.values, i + 1) for i in range(len(dfx.columns))]  # +1 because of constant at index 0

print(vif_data.sort_values(by="VIF", ascending=False))

C:\Users\01abh\PycharmProjects\IPL_Prediction\.venv\Lib\site-packages\statsmodels\regression\linear_model.py:1782: RuntimeWarning: invalid value encountered in scalar divide
  return 1 - self.ssr/self.centered_tss
C:\Users\01abh\PycharmProjects\IPL_Prediction\.venv\Lib\site-packages\statsmodels\stats\outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)

                  Feature        VIF
21             Balls_Left        inf
26  Previous_Rolling_Runs        inf
25           Rolling_Runs        inf
27           Pitch_Change        inf
20             Ball_Count        inf
16     Cumulative_Wickets  77.900059
19                 Target  15.495994
23                 Req_RR  15.458591
11  Avg_Total_Runs_Last_4   9.592541
8   Avg_Extra_Runs_Last_4   8.537926
18                Innings   8.498218
12  Avg_Total_Runs_Last_5   6.839522
0                    Over   6.101773
24                     PI   6.062652
14             Over_Phase   6.024488
7   Avg_Extra_Runs_Last_5   5.340284
10  Avg_Total_Runs_Last_3   5.186555
9   Avg_Extra_Runs_Last_3   4.199537
6   Runs_on_previous_ball   1.620248
5             Strike_Rate   1.317786
4                 Team_ID   1.250258
15              Is_Wicket   1.243446
3                Venue_ID   1.112923
17       Partnership_Runs   1.040855
2              Striker_ID   1.023625
1               Bowler_ID   1.009168
22             Current_RR   1.007973
13               Match_ID        NaN

In [11]:
df.drop("Cumulative_Runs", axis = 1, inplace=True)

In [12]:
df

,Over,Total_Runs,Bowler_ID,Striker_ID,Venue_ID,Team_ID,Strike_Rate,Runs_on_previous_ball,Avg_Extra_Runs_Last_5,Avg_Extra_Runs_Last_4,...,Innings,Target,Ball_Count,Balls_Left,Current_RR,Req_RR,PI,Rolling_Runs,Previous_Rolling_Runs,Pitch_Change
0,0.1,0,98,82,0,0,1.100000,0,0.00,0.00,...,1,190,1,119,0.000000,9.5,95.000725,0.0,0.0,0.0
1,0.2,4,98,82,0,0,1.100000,0,0.00,0.00,...,1,190,2,118,0.000000,9.5,95.000719,12.0,0.0,12.0
2,0.3,0,98,82,0,0,1.100000,4,0.00,0.00,...,1,190,3,117,8.000000,9.5,95.001395,8.0,12.0,-4.0
3,0.4,1,98,82,0,0,1.100000,0,0.00,0.00,...,1,190,4,116,6.000000,9.5,95.001384,7.5,8.0,-0.5
4,0.5,0,98,82,0,0,1.100000,1,0.25,0.25,...,1,190,5,115,6.000000,9.5,95.002046,6.0,7.5,-1.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34961,18.5,4,159,123,1,9,3.333333,6,0.80,1.00,...,287,190,3519,-3399,8.659847,9.5,648.561408,11.5,9.5,2.0
34962,18.6,0,159,123,1,9,3.333333,4,0.80,1.00,...,287,190,3520,-3400,8.664205,9.5,649.710680,11.0,11.5,-0.5
34963,19.1,1,197,155,1,9,1.666667,0,0.80,0.00,...,287,190,3521,-3401,8.661744,9.5,649.873830,11.5,11.0,0.5
34964,19.2,6,197,155,1,9,1.666667,1,0.20,0.25,...,287,190,3522,-3402,8.660988,9.5,650.150416,14.5,11.5,3.0
34965,19.3,4,197,155,1,9,1.666667,6,0.20,0.25,...,287,190,3523,-3403,8.668748,9.5,650.994409,16.0,14.5,1.5

In [15]:
from sklearn.ensemble import RandomForestClassifier
#from xgboost import XGBClassifier
from lightgbm import LGBMClassifier
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.neural_network import MLPClassifier

models = {
    "RandomForest": RandomForestClassifier(n_estimators=100, random_state=42),
    #"XGBoost": XGBClassifier(use_label_encoder=False, eval_metric='mlogloss', random_state=42),
    "LightGBM": LGBMClassifier(random_state=42),
    "SVM": SVC(kernel='rbf', probability=True, random_state=42),
    "KNN": KNeighborsClassifier(n_neighbors=5),
    "MLP": MLPClassifier(hidden_layer_sizes=(100,), max_iter=500, random_state=42)
}

In [17]:
df.to_csv("matches_enhanced_with_features.csv", index=False)

In [18]:
df

,Over,Total_Runs,Bowler_ID,Striker_ID,Venue_ID,Team_ID,Strike_Rate,Runs_on_previous_ball,Avg_Extra_Runs_Last_5,Avg_Extra_Runs_Last_4,...,Innings,Target,Ball_Count,Balls_Left,Current_RR,Req_RR,PI,Rolling_Runs,Previous_Rolling_Runs,Pitch_Change
0,0.1,0,98,82,0,0,1.100000,0,0.00,0.00,...,1,190,1,119,0.000000,9.5,95.000725,0.0,0.0,0.0
1,0.2,4,98,82,0,0,1.100000,0,0.00,0.00,...,1,190,2,118,0.000000,9.5,95.000719,12.0,0.0,12.0
2,0.3,0,98,82,0,0,1.100000,4,0.00,0.00,...,1,190,3,117,8.000000,9.5,95.001395,8.0,12.0,-4.0
3,0.4,1,98,82,0,0,1.100000,0,0.00,0.00,...,1,190,4,116,6.000000,9.5,95.001384,7.5,8.0,-0.5
4,0.5,0,98,82,0,0,1.100000,1,0.25,0.25,...,1,190,5,115,6.000000,9.5,95.002046,6.0,7.5,-1.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34961,18.5,4,159,123,1,9,3.333333,6,0.80,1.00,...,287,190,3519,-3399,8.659847,9.5,648.561408,11.5,9.5,2.0
34962,18.6,0,159,123,1,9,3.333333,4,0.80,1.00,...,287,190,3520,-3400,8.664205,9.5,649.710680,11.0,11.5,-0.5
34963,19.1,1,197,155,1,9,1.666667,0,0.80,0.00,...,287,190,3521,-3401,8.661744,9.5,649.873830,11.5,11.0,0.5
34964,19.2,6,197,155,1,9,1.666667,1,0.20,0.25,...,287,190,3522,-3402,8.660988,9.5,650.150416,14.5,11.5,3.0
34965,19.3,4,197,155,1,9,1.666667,6,0.20,0.25,...,287,190,3523,-3403,8.668748,9.5,650.994409,16.0,14.5,1.5

In [19]:
df.columns

Index(['Over', 'Total_Runs', 'Bowler_ID', 'Striker_ID', 'Venue_ID', 'Team_ID',
       'Strike_Rate', 'Runs_on_previous_ball', 'Avg_Extra_Runs_Last_5',
       'Avg_Extra_Runs_Last_4', 'Avg_Extra_Runs_Last_3',
       'Avg_Total_Runs_Last_3', 'Avg_Total_Runs_Last_4',
       'Avg_Total_Runs_Last_5', 'Match_ID', 'Over_Phase', 'Is_Wicket',
       'Cumulative_Wickets', 'Partnership_Runs', 'Innings', 'Target',
       'Ball_Count', 'Balls_Left', 'Current_RR', 'Req_RR', 'PI',
       'Rolling_Runs', 'Previous_Rolling_Runs', 'Pitch_Change'],
      dtype='object')

In [20]:
df.drop(columns = ["Is_Wicket", "Cumulative_Wickets"], inplace = True)

In [24]:
df.drop(columns = ["Ball_Count"], inplace = True)

In [25]:
from sklearn.model_selection import train_test_split

X_train, X_test,y_train, y_test = train_test_split(
    df.drop(columns = ['Total_Runs']),
    df['Total_Runs'],
    test_size=0.10,
    random_state=42,
    stratify=df['Total_Runs']
)

def fit_and_score(models, x_train, x_test, y_train, y_test):
    """"
    This function fits and evaluates the models
    models : dictionary of models
    x_train : training data (no labels)
    x_test : testing data (no labels)
    y_train : trainign data (labels)
    y_test : testing data (labels)
    """
    # random seed
    np.random.seed(42)
    # Make score dictionary
    model_scores = {}
    # Loop through models
    for name, model in models.items():
        # Fit the model
        model.fit(x_train, y_train)
        # Append the scores in dictionary
        model_scores[name] = model.score(x_test,y_test)
    return model_scores

# Get scores
model_scores = fit_and_score(models = models,
                             x_train = X_train,
                             x_test = X_test,
                             y_train = y_train,
                             y_test = y_test)

model_scores

[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.001408 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 2150
[LightGBM] [Info] Number of data points in the train set: 31469, number of used features: 23
[LightGBM] [Info] Start training from score -1.139840
[LightGBM] [Info] Start training from score -0.874789
[LightGBM] [Info] Start training from score -2.739982
[LightGBM] [Info] Start training from score -6.012953
[LightGBM] [Info] Start training from score -2.074275
[LightGBM] [Info] Start training from score -6.080092
[LightGBM] [Info] Start training from score -2.695231
[LightGBM] [Info] Start training from score -7.265716
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf

{'RandomForest': 0.9242207606519874,
 'LightGBM': 0.9591078066914498,
 'SVM': 0.5793537317700886,
 'KNN': 0.4469545324563912,
 'MLP': 0.9164998570203031}

In [28]:
len(df.columns)

25